{% extends "base.html" %}

{% block title %} Recipe Details {% endblock %}

{% block content %}
<div class="container">
    <h2>{{ recipe.name }}</h2>
    <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
    <div class="recipe-card">
    <h3>Ingredients</h3>
    
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
    </div>

    <div class="recipe-card" >
            <h3>Nutrition Information</h3>
            <p>Calories: {{ recipe.nutrition.calories }} kcal</p>
            <p>Protein: {{ recipe.nutrition.protein }} g</p>
            <p>Fat: {{ recipe.nutrition.fat }} g</p>
    </div>

    <button type="submit" href="{{ request.referrer }}" >Back to Recipes</a>
</div>
{% endblock %}