<!-- signup.html -->
{% extends "base.html" %}

    {% block title %}Sign Up - Recipe Recommender{% endblock %}

{% block content %}
<h2>Sign Up</h2>
<form action="/signup" method="POST">
    <input type="text" name="name" id="name" placeholder="Name" required><br>
    <input type="email" name="email" id="email" placeholder="Email" required><br>
    <input type="password" name="password"id="password" placeholder="Password" required><br>
    <p>Gym Member<input type="checkbox" name="gym_member" id="gym_member"></p>
    <p>Select Dite Plan</p>
    <select name="diet_type" id="diet_type">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
    </select><br>
    <input type="text" name="allergies" id="allergies" placeholder="Allergies"><br>
    <button type="submit">Sign Up</button>
</form>
{% endblock %}